markdown
flask
flask-login
flask-qrcode
flask-sqlalchemy
Flask-APScheduler
Flask-Migrate
Flask-Script
Flask-WTF
email_validator
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
psycopg2
pygments
