<!doctype html>
<html lang="fr">
  <head>
    {% block head %}
    <title>QCM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}" />
    {% endblock %}
    {% block mathjax %}
      <script id="mathjax_settings" src="{{ url_for('static', filename='javascript/mathjax_settings.js') }}">
      </script>
      <script id="MathJax-script" async src="{{url_for('static', filename='mathjax/tex-chtml.js')}}">
      </script>
    {% endblock %}
  </head>

  <body>
    {% block body %}
        <div id="banner">
          <h1>
            <button id="theme-switcher">
                🌙
            </button>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <a href="/">
              QCM
            </a>
            {% if base_data %}
                {{ base_data|safe }}
            {% endif %}
          </h1>
        </div>
        
        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
    {% endblock %}

    <script id="theme-switcher" src="{{ url_for('static', filename='javascript/theme_switcher.js') }}">
    </script>
  </body>
</html>


