{% extends 'base.html' %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  {% if data %}
    <div class="part">
      <h2>
        Email sent :
      <h2>
      <h3>
        {{ data.message }}
      </h3>
    </div>
  {% endif %}
  <div class="part">
    <h3>
      Reset password
    </h3>
    <form id="form_student" action="/forgotten_password" method="POST">
      <table>
        <tbody>
          <tr>
            <td>
              <label for="email">
                Email
              </label>
            </td>
            <td>
              <input type="text" name="email" value="">
            </td>
          </tr>
        </tbody>
      </table>
      <div class="btn">
        <button type="submit" name="action" value="forgotten_password">Envoyer</button>
      </div>
    </form>
{% endblock %}



