{% extends 'base.html' %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    {% if data %}
    <div class="part">
        <div class="login question-answers">
          <h2>
            Email envoyé :
          <h2>
          <h3>
            {{ data.message }}
          </h3>
        </div>
    </div>
    {% endif %}
    <div class="part">
        <div class="login question-answers">
            <h3>
              Demandez une réinitialisation du mot de passe
            </h3>
            <form id="form" action="/forgotten_password" method="POST">
              <table class="no-border center">
                <tbody>
                  <tr>
                    <td class="no-border">
                      <label for="email">
                        Email
                      </label>
                    </td>
                    <td class="no-border">
                      <input type="text" name="email" id="email" value="">
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="btn">
                <button type="submit" name="action" value="forgotten_password">Envoyer</button>
              </div>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/email_validation.js') }}">
    </script>
{% endblock %}



