{% if qcm and qcm.count_works() > 0 %}
    <script 
        src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"
        integrity="sha256-cHVO4dqZfamRhWD7s4iXyaXWVK10odD+qp4xidFzqTI=" 
        crossorigin="anonymous"
    >
    </script>
    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="{{ url_for('static', filename='javascript/pie_graph_setup.js') }}"></script>
    <h1>
        Détail des réponses
    </h1>
    {% for question in qcm.flat_questions() %}
        <div class="part">
            <div class="question-answers">
                <h3>
                    {{ question.question|safe }}
                </h3>
                <p>
                    {{ question.sub_text|safe }}
                </p>
                {% if question.is_text_question %}
                    <ul>
                        {% for text in question.texts %}
                        <li>
                            {{ text.text | safe }}
                        </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="div_pie_chart center">
                        <canvas id="question_chart_{{question.id}}"></canvas>
                    </div>
                    <script>
                        const data_{{question.id}} = {
                            labels: [
                                {% for answer in question.answers %}
                                    {% if answer.is_valid %}
                                        '✔️ ' +
                                    {% endif %}
                                    htmlDecode(
                                        '{{ answer.answer|safe|striptags }}'
                                    ),
                                {% endfor %}
                            ],
                            datasets: [{
                                label: '{{ question.question }}',
                                data: [
                                    {% for answer in question.answers %}
                                        {{answer.nb_of_selection()}},
                                    {% endfor %}
                                ],
                                hoverOffset: 0
                            }]
                        };

                        const question_chart_{{question.id}} = new createChart(
                            'question_chart_{{question.id}}',
                            data_{{question.id}},
                            colorScale,
                            colorRangeInfo
                        );
                    </script>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}
