{% extends 'base.html' %}
{% block head %}
{{ super() }}
<title>QCM</title>
{% endblock %}

{% block content %}
<div class"full-height">
    <div class="part">
        <div class="question-answers">
            <a href="{{ url_for('student') }}" width="100%" height="100%">
                <h2>
                    Élève
                </h2>
            </a>
        </div>
        <div class="question-answers">
            <a href="{{ url_for('teacher') }}" width="100%" height="100%">
                <h2>
                    Professeur
                </h2>
            </a>
        </div>
    </div>
    <div class"footer">
        <footer>
            <a href="{{ url_for('rgpd') }}">
                RGPD
            </a>
            -
            <a href="{{ url_for('tutorial') }}">
                Comment ça marche ?
            </a>
            
        </footer>
    </div>
</div>
{% endblock %}
