{% extends 'base.html' %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

      <div class=part>
        <div class="question-answers">
            <h2>
                <a href="{{ url_for('new_teacher') }}">
                    S'inscrire
                </a>
            </h2>
          </div>
      </div>
      <div class=part>
        <div class="login question-answers">
          <form id="form" action="/login" method="POST">
              <h2>
                  Se connecter
              </h2> 
            <table class="question-answers center no-border">
              <tbody class="no-border">
                <tr>
                  <td class="no-border">
                    {{ form.csrf_token }}
                    {{ form.email.label }} 
                  </td>
                  <td class="no-border">
                      {{ form.email(size=20) }}
                  </td>
                </tr>
                <tr>
                  <td class="no-border">
                    {{ form.clear_password.label }} 
                  </td>
                  <td class="no-border">
                      {{ form.clear_password(size=20) }}
                  </td>
                </tr>
              </tbody>
            </table>
            <p>
              <button type="submit" name="button" value="Envoyer">
                Envoyer
              </button>
            </p>
          </form>
          <div class="white">
            <a href="/forgotten_password">
              Mot de passe oublié
            </a>
          </div>
        </div>
      </div>
    <script src="{{ url_for('static', filename='javascript/email_validation.js') }}">
    </script>
{% endblock %}
