{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="part">
</div>
<div>
    {% if qcm %}
    <div class="part">
        <h2 class="part-title">
            Résultats du QCM : 
        </h2>
        <br />
        <h3 class="part-title">
            {{ qcm.id}} - {{ qcm.title|safe }} - {{ qcm.datetime }}
        </h3>
        <table class="center">
            <tr>
                <th scole="col">
                    Nom
                </th>
                <th scole="col" class="text-center">
                    Points
                </th>
            </tr>
            {% for work in qcm.works %}
            <tr>
                <th scope="row">
                        {{ work.student.name|safe }}
                </th>
                <td class="text-center">
                    {{ work.points }}
                </td>
            </tr>
            {% endfor %}
        </table>
        <h2 class="part-title">
                Exporter en CSV
        </h2>
            <form method="POST" action="{{ url_for('export') }}" class="form-question">
                <div class="form-container">
                    <section>
                        <input type="hidden" name="id_qcm" value="{{ qcm.id }}">
                        <input type="number" name="password" required placeholder="password">
                        <br />
                        <button type="submit" class="btn">
                            Exporter
                        </button>
                    </section>
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
