{% extends 'base.html' %}
{% block head %}
{{ super() }}
<title>Marks</title>
{% endblock %}

{% block content %}

<div class="part">
</div>
<div>
    {% if qcm %}
        <div class="part">
            <div class="question-answers" style="margin-bottom: 1rem;">
                <ul>
                    <li>
                        Numero {{ qcm.id}} 
                    </li>
                    <li>
                        {{ qcm.title|safe }}
                    </li>
                    <li>
                        {{ qcm.datetime_formated() }}
                    </li>
                </ul>
                <div style="text-align: center;">
                    <button>
                        <a href="{{ url_for('view', qcm_id=qcm.id, inserted=0) }}">
                            Voir le QCM
                        </a>
                    </button>
                    <button>
                        <a href="{{ url_for('remove', id_qcm=qcm.id) }}">
                            Supprimer le QCM
                        </a>
                    </button>
                    {% if qcm.has_works() %}
                        <button> 
                            <a href="{{ url_for('export', qcm_id=qcm.id) }}">
                                Exporter en CSV
                            </a>
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="spacediv"></div>
            <div class="spacediv"></div>
            <table class="center colored-background">
                <tr>
                    <th scole="col">
                        Nom
                    </th>
                    <th scole="col" class="text-center">
                        Points
                    </th>
                    <th scope="col">
                        Horaire
                    </th>
                </tr>
                {% for index, work in enumerate(qcm.works) %}
                <tr>
                    <th scope="row">
                        <a href="{{ url_for('work', id_qcm=qcm.id, index=index) }}">
                            {{ work.student.name|safe }}
                        </a>
                    </th>
                    <td class="text-center">
                        <a href="{{ url_for('work', id_qcm=qcm.id, index=index) }}">
                            {{ work.points }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('work', id_qcm=qcm.id, index=index) }}">
                            {{ work.datetime_formated() }}
                        </a>
                    </dt>
                </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
