{% extends 'base.html' %}
{% block head %}
{{ super() }}
<title>Marks</title>
{% endblock %}

{% block content %}

<div class="part">
</div>
<div>
    {% if qcm %}
        <div class="part">
            <div class="question-answers" style="margin-bottom: 1rem;">
                <ul>
                    <li>
                        Numero {{ qcm.id}} 
                    </li>
                    <li>
                        {{ qcm.title|safe }}
                    </li>
                    <li>
                        {{ qcm.datetime_formated() }}
                    </li>
                </ul>
            </div>
            <form 
               id="export" 
               action="{{ url_for('export', qcm_id=qcm.id) }}"
               method="GET"
               style="text-align: center;"
               >
               <input id="export_button" name="cancel" type="submit" value="Exporter en CSV">
            </form>
            <div class="spacediv"></div>
            <div class="spacediv"></div>
            <table class="center colored-background">
                <tr>
                    <th scole="col">
                        Nom
                    </th>
                    <th scole="col" class="text-center">
                        Points
                    </th>
                    <th scope="col">
                        Horaire
                    </th>
                </tr>
                {% for index, work in enumerate(qcm.works) %}
                <form method="POST", action="{{ url_for('work', id_qcm=qcm.id, index=index) }}">
                <tr>
                    <th scope="row">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type=submit class="no-border transparent-background">
                        {{ work.student.name|safe }}
                        </button>
                    </th>
                    <td class="text-center">
                        <button type=submit class="no-border transparent-background">
                        {{ work.points }}
                        </button>
                    </td>
                    <td>
                        <button type=submit class="no-border transparent-background">
                        {{ work.datetime_formated() }}
                        </button>
                    </dt>
                </tr>
                </form>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
