{% extends 'base.html' %}
{% block head %}
{{ super() }}
<title>New</title>
{% endblock %}

{% block content %}
<div class="part">

    <div class="text-center question-answers">
        <h2 class="part-title">
            Nouveau QCM
        </h2>
        <form action="{{ url_for('new') }}" method="post" enctype=multipart/form-data>
            {{ form.csrf_token }}
            {{ form.source.label }}
            <br />
            <p id="chosen-file">
            </p>
            <p>
                {{ form.source(accept='.md', style='visibility:hidden') }}
            </p>
            <button type=submit style="visibility:hidden" id="submit" class="btn">
                Envoyer
            </button>
            {% if form.source.errors %}
                <div class="errors">
                    {% for error in form.source.errors %}
                        <p>
                            {{ error }}
                        </p>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>

</div>



<script id="display-button" src="{{ url_for('static', filename='javascript/display_upload_button.js') }}">
</script>

{% endblock %}
