{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="part">

    <div class="text-center question-answers">
        <h2 class="part-title">
            Nouveau QCM
        </h2>
        <form action="{{ request.path }}" method="post" enctype=multipart/form-data>
            {{ form.csrf_token }}
            {{ form.source.label }}
            <br />
            <p id="chosen-file">
            </p>
            <p>
                {{ form.source(accept='.md', style='visibility:hidden') }}
            </p>
            <button type=submit style="visibility:hidden" id="submit" class="btn">
                Envoyer
            </button>
            {% if form.source.errors %}
                <ul class="errors">
                    {% for error in form.source.errors %}
                        <li>
                            {{ error }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>

    {% if data %}
        {% if 'qcm_id' in data %}
            <h3>
                Donnez le numéro à vos élèves pour qu'ils puissent démarrer le QCM :
                <div class="spacediv"></div>
                {{ data["qcm_id"] }}
                <div class="spacediv"></div>
                <div class="spacediv"></div>
            </h3>
            <h2>
                <a href={{ url_for('work', id_qcm=data['qcm_id'], index=0, preview=1) }}>
                    Visualiser votre QCM
                </a>
            </h2>

        {% else %}
            <div>
                {% for k, v in data.items() %}
                <h3>
                    {{ k }} - {{ v }}
                </h3>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
</div>



<script id="display-button" src="{{ url_for('static', filename='javascript/display_upload_button.js') }}">
</script>

{% endblock %}
