{% extends 'base.html' %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block body %}
  {% block content %}
      <div class=part>
        <h2>
        Inscrivez-vous
        </h2> 
        <div class="login question-answers">
          <form id="form_login" action="/new_teacher" method="POST">
            <table class="question-answers">
              <tbody>
                <tr>
                  <td>
                    <label for="email">
                      Email
                    </label>
                  </td>
                  <td>
                    <input type="text" name="email" value="">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label for="password">
                      Mot de passe
                    </label>
                  </td>
                  <td>
                    <input type="password" name="password" value="" required>
                  </td>
                </tr>
              </tbody>
            </table>
            <p>
              <button type="submit" name="button" value="Envoyer">
                Envoyer
              </button>
            </p>
          </form>
        </div>
      </div>
  {% endblock %}
{% endblock %}
