{% extends 'base.html' %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <div class=part>
    <div class="login question-answers">
      <form id="form" action="/new_password" method="POST">
          <h2>
              Changer de mot de passe
          </h2> 
        <table class="question-answers center no-border">
          <tbody class="no-border">
            <tr>
              <td class="no-border">
                <label for="current_password">
                  Actuel
                </label>
              </td>
              <td class="no-border">
                <input type="password" name="current_password" value="" required>
              </td>
            </tr>
            <tr>
              <td class="no-border">
                <label for="new_password">
                  Nouveau
                </label>
              </td>
              <td class="no-border">
                <input type="password" name="new_password" value="" required>
              </td>
            </tr>
          </tbody>
        </table>
        <p>
          <button type="submit" name="button" value="Envoyer">
            Envoyer
          </button>
        </p>
      </form>
    </div>
  </div>
{% endblock %}
