{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
{% if works %}
<div class="part">
    <h2 class="part-title">
        Résultats de l'élève : {{ works[0].student.name|safe }}
    </h2>
    <div class="qcm">
        <table class="center">
            <thead>
                <tr>
                    <th>QCM</th>
                    <th>Points</th>
                </tr>
            </thead>

            <tbody>
                {% for work in works %}
                <tr>
                    <td>
                        {{ work.qcm.title|safe }}
                    </td>
                    <td>
                        {{ work.points }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
<h2>
    Élève introuvable
</h2>
{% endif %}
{% endblock %}
