{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="qcm">
    <div>
        <h1>
            {{ qcm.title|safe }}
        </h1>
    </div>
    <form method="POST" action="{{ url_for('answers') }}" id="qcm_form">
        {% for part in qcm.shuffled_parts() %}
        <div class="part">
            <h2 class="part-title">
                {{ part.title|safe }}
            </h2>
            {% for question in part.shuffled_questions() %}
            <div class="question-answers">
                <h3 class="question-question">
                    {{ question.question|safe }}
                </h3>
                <p class="question-question form-questions">
                    {{ question.sub_text|safe }}
                </p>
                <div class="answers">
                    {% for answer in question.shuffled_answers() %}
                    <div class="answer" id="answer_A_{{ answer.id }}">
                        <input 
                            type="radio" 
                            name="Q_{{ question.id }}" 
                            id="A_{{ answer.id }}" 
                            value="A_{{ answer.id }}"
                            autocomplete="off"
                            class="radio"
                        >
                        </input>
                        <label for="A_{{ answer.id }}">
                            {{ answer.answer|safe }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <div class="spacediv">
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="btn">
            <button type="submit">
                Envoyer
            </button>
        </div>
    </form>
</div>
<script>
    // Style the input-radio (answers) elements.
    // When checked:        background orange,  color black
    // When not checked:    background dark,    color light
    // Will break if the .answer.firstChild isn't a <input type="radio">

    var radios = document.getElementsByClassName("radio");

    for(var i = 0, max = radios.length; i < max; i++) {
        radios[i].onclick = function() {
            let answers = document.getElementsByClassName("answer");

            for (let i = 0; i < answers.length; i++) {
                    let answer = answers[i];
                    if (!answer.childNodes[1].checked) {
                        answer.style.background = "#1a1a1a";
                    }
                }

            let parent_div = document.getElementById('answer_' + this.id);
            parent_div.style.background = "#ffa500";
        }
        
    }
</script>
<script>
    window.onblur = function() {
          document.getElementById("qcm_form").submit();
          alert("Vous avez quitté la page. Vos réponses sont enregistrées et vous ne pouvez plus progresser dans le devoir.")
        }
</script>
{% endblock %}
