
{% block content %}
<div class="part">
    <h2 class="part-title">
        Vos QCMs
    </h2>
</div>
<div class="big-table">
    <table class="center colored-background wsh-table">

        <thead>
            <tr>
                <th>id</th>
                <th>titre</th>
                <th>ajouté le</th>
                <th>supprimé le</th>
                <th>réponses</th>
                <th>effacer</th>
                <th>fermer</th>
            </tr>
        </thead>

        <tbody>
            {% with qcms=current_user.qcms %}
                {% for qcm in qcms %}
                <tr>
                    <td>
                        <a href="{{ url_for('view', id_qcm=qcm.id, inserted=0) }}">
                            {{ qcm.id }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('view', id_qcm=qcm.id, inserted=0) }}">
                            {{ qcm.title }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('view', id_qcm=qcm.id, inserted=0) }}">
                            {{ qcm.insertion_datetime_formated() }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('view', id_qcm=qcm.id, inserted=0) }}">
                            {{ qcm.deletion_datetime_formated() }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('view', id_qcm=qcm.id, inserted=0) }}">
                            {{ qcm.count_works() }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('remove', id_qcm=qcm.id) }}">
                            ❌
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('toggle_open', id_qcm=qcm.id)}}">
                            {% if qcm.is_open %}
                                🔓
                            {% else %}
                                🔒
                            {% endif %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% endwith %}
        </tbody>
    </table>
</div>
{% endblock %}
