{% extends 'base.html' %}
{% block head %}
{{ super() }}
<title>QCMS</title>
{% endblock %}

{% block content %}
<div class="part">
    <h2 class="part-title">
        Consulter un QCM
    </h2>
</div>
<div class="part">
    <h2 class="part-title">
        QCMs disponibles
    </h2>
</div>
<table class="center colored-background">

    <thead>
        <tr>
            <th>id</th>
            <th>titre</th>
            <th>date</th>
            <th>réponses</th>
            <th>voir</th>
            <th>effacer</th>
        </tr>
    </thead>

    <tbody>
        {% for qcm in qcms %}
        <tr>
            <td>
                <a href="{{ url_for('marks', id_qcm=qcm.id) }}">
                    {{ qcm.id }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('marks', id_qcm=qcm.id) }}">
                    {{ qcm.title }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('marks', id_qcm=qcm.id) }}">
                    {{ qcm.datetime }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('marks', id_qcm=qcm.id) }}">
                    {{ qcm.count_works() }}
                </a>
            </td>
            <td>
                <a href="{{ url_for('work', id_qcm=qcm.id, index=0, preview=1) }}">
                👁️    
                </a>
            </td>
            <td>
                <a href="{{ url_for('remove', id_qcm=qcm.id) }}">
                    ❌
                </a>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
