{% extends 'base.html' %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  {% if data.message %}
    <div class="part">
      <h2>
        Result :
      <h2>
      <h3>
        {{ data.message }}
      </h3>
    </div>
  {% endif %}
  {% if data.reset %}
  <div class="part">
    <h3>
      Change password
    </h3>
    <form id="form_student" action="/reset_password" method="POST">
      <table>
        <tbody>
          <tr>
            <td>
              <label for="password">
                New Password
              </label>
            </td>
            <td>
              <input type="password" name="password" value="">
            <input type="hidden" name="email" value="{{ data.email }}" />
            <input type="hidden" name="teacher_id" value="{{ data.teacher_id }}" />
            </td>
          </tr>
        </tbody>
      </table>
      <div class="btn">
        <button type="submit" name="action" value="reset_password">Envoyer</button>
      </div>
    </form>
    {% endif %}
{% endblock %}



