{% extends 'base.html' %}
{% block head %}
  {{ super() }}
  <title>Reset Password</title>
{% endblock %}

{% block content %}
  {% if data.message %}
    <div class="part">
      <h2>
        {{ data.message }}
      </h2>
    </div>
  {% endif %}
  {% if data.reset %}
  <div class="part">
        <div class="login question-answers">
            <h3>
              Réinitialisez votre mot de passe
            </h3>
            <form id="form_student" action="/reset_password" method="POST">
              <table class="no-border center">
                <tbody>
                  <tr>
                    <td class="no-border">
                        {{ form.clear_password(size=20) }}
                        {{ form.csrf_token }}
                        {% if form.clear_password.errors %}
                            <ul class="errors">
                                {% for error in form.clear_password.errors %}
                                    <li>
                                        {{ error }}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <input type="hidden" name="email" value="{{ data.email }}" />
                        <input type="hidden" name="id_teacher" value="{{ data.id_teacher }}" />
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="btn">
                <button type="submit" name="action" value="reset_password">Envoyer</button>
              </div>
            </form>
            </div>
        </div>
    {% endif %}
{% endblock %}



