{% extends 'base.html' %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  {% if data.message %}
    <div class="part">
      <h2>
        {{ data.message }}
      </h2>
    </div>
  {% endif %}
  {% if data.reset %}
  <div class="part">
        <div class="login question-answers">
            <h3>
              Réinitialisez votre mot de passe
            </h3>
            <form id="form_student" action="/reset_password" method="POST">
              <table class="no-border center">
                <tbody>
                  <tr>
                    <td class="no-border">
                      <label for="password">
                        New Password
                      </label>
                    </td>
                    <td class="no-border">
                      <input type="password" name="password" value="">
                    <input type="hidden" name="email" value="{{ data.email }}" />
                    <input type="hidden" name="teacher_id" value="{{ data.teacher_id }}" />
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="btn">
                <button type="submit" name="action" value="reset_password">Envoyer</button>
              </div>
            </form>
            </div>
        </div>
    {% endif %}
{% endblock %}



