{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<link href="{{ url_for('static', filename='css/text_left.css') }}" rel="stylesheet">
<div class="part">
    <div class="question-answers">
        <h2>
            RGPD
        </h2>
        <div class="question">
            <p>
                Ce site utilise quelques cookies pour retenir le QCM choisi par l'élève et maintenir une session.
            </p>

            <p>
                Les informations suivantes sont enregistrées :
            </p>

            <p>
                Le contenu d'un QCM envoyé. Il est effacé après 48h.
            </p>

            <p>
                Les noms, prénoms et réponses des élèves. Cela permet à l'enseignant d'attribuer une note.
                Ces données sont effacées toutes les 48h.
            </p>

            <p>
                Le site et la base de données sont hébergés par Amazon Web Service en Irlande.
            </p>

        </div>
    </div>
</div>
{% endblock %}
