{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="part">
    <h3 class="part-title">
        Inscrivez-vous pour débuter le QCM :
    </h3>
</div>


<div class="part">
    <form method="POST" action="{{ url_for('qcm') }}" class="form-question">
        <div class="form-container">
            <section>
                <input type="text" name="student.name" required placeholder="Nom">
                <br />
                <input type="text" name="student.firstname" required placeholder="Prénom">
                <br />
                <input type="number" name="qcm.id" required placeholder="Numéro du QCM">
                <br />
                <button type="submit" class="btn">
                    Demarrer
                </button>
            </section>
        </div>

    </form>
</div>

{% endblock %}
