{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div class="part">
    <h3 class="part-title">
        Inscrivez-vous pour débuter le QCM :
    </h3>
</div>


<div class="part">
    <form method="POST" action="{{ url_for('qcm') }}" class="form-question">
        <div class="form-container">
            <section>
                {{ form.csrf_token }}
                {{ form.lastname(size=20) }}
                {% if form.lastname.errors %}
                    <ul class="errors">
                        {% for error in form.lastname.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <br />
                {{ form.firstname(size=20) }}
                {% if form.firstname.errors %}
                    <ul class="errors">
                        {% for error in form.firstname.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <br />
                {{ form.qcm_id(size=20) }}
                {% if form.qcm_id.errors %}
                    <ul class="errors">
                        {% for error in form.qcm_id.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <br />
                <button type="submit" class="btn">
                    Demarrer
                </button>
            </section>
        </div>

    </form>
</div>

{% endblock %}
