{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="part">
<h2 class="part-title">
    <div class="margin-bottom">
    <a href="{{ url_for('new') }}" class="margin-bottom">Nouveau QCM</a>
    </div>
    
    <div class="margin-bottom">
    <a href="{{ url_for('qcms') }}" class="margin-bottom">Liste des QCM</a>
    </div>
    
    <div class="margin-bottom">
    <a href="{{ url_for('marks') }}" class="margin-bottom">Notes</a>
    </div>
</h2>
</div>
{% endblock %}
