{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<link href="{{ url_for('static', filename='css/text_left.css') }}" rel="stylesheet">
<div class="part">
    <h1>
        Comment utiliser ce site ?
    </h1>
    <h2>
        Pour l'élève
    </h2>
    <div class="question-answers">

        <p>Depuis 
            <a href="{{ url_for('index') }}">
                l'accueil
            </a>
        choisir le lien 
            <a href="{{ url_for('student') }}">
                Élève.
            </a>
        Saisir vos nom et prénom ainsi que le numéro du QCM transmis par votre enseignant.
        </p>
        <p>

        Ensuite sélectionnez les bonnes réponses et n'oubliez pas de cliquer sur le bouton
        <span class="bold">Envoyer</span>.
        </p>

    </div>
    <h2>
        Mode anti-triche
    </h2>
    <div class="question-answers">

        <p>Afin de rendre l'évaluation un peu plus sérieuse, vous ne pouvez pas quitter
        la fenêtre. Dès que vous ouvrez un nouvel onglet ou quittez la fenêtre, vos réponses
        sont enregistrées et vous ne pouvez plus progresser.
        </p>
    </div>
    <h2>
        Pour l'enseignant
    </h2>
    <div class="question-answers">

        <p>
            Une petite
                <a href="https://www.youtube.com/watch?v=Jogm2cbgnEE">
                    vidéo
                </a>
            de présentation.
        </p>
        <p>
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Jogm2cbgnEE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </p>

        <p>
            L'objectif de ce site est de créer des évaluations rapidement, 
            les partager simplement, consulter les réponses
            et les scores sans devoir compter les points.
        </p>

        <p>
            Les enseignants doivent s'enregistrer avec un email - pas encore de confirmation... 
            c'est prévu, on ne sait pas quand.
        </p>
        <p>
            Pas encore de désinscription, cela ne devrait pas tarder.
        </p>
        <p>
            Une fois enregistrés, ils peuvent se connecter.

            Un mot de passe égaré peut être réinitialisé avec une clé envoyée par email.
            Celle-ci est valide une heure.
        </p>
        <p>
            Ce mot de passe est haché et personne n'y a accès.
        </p>
        <p>
            Ensuite :

        </p>
        <p>Depuis 
            <a href="{{ url_for('index') }}">
                l'accueil
            </a>
        choisir le lien 
            <a href="{{ url_for('teacher') }}">
                Professeur.
            </a>
            Là vous pouvez choisir d'envoyer un nouveau QCM ou consulter les résultats
            de vos précédents QCM.
        </p>
        <p>

            Pour envoyer un nouveau QCM, sélectionnez un fichier compatible au format .md 
            - voir plus bas - et, une fois uploadé,
            transmettez son numéro à vos élèves qui en auront besoin pour débuter le QCM.
        </p>
        <p>
            Si vous avez perdu ce numéro, vous
            pouvez consulter la liste de vos QCM disponibles depuis le menu enseignant.

        </p>
        <p>
            Vous pouvez visualiser votre QCM après son dépôt et avant de le partager à vos élèves.

        </p>
        <p>
            Vos QCM sont personnels, seul l'auteur peut les consulter. Il est en le propriétaire.
            Nous ne sommes donc pas responsable du contenu qu'il contient, ne pouvant même pas le consulter.

        </p>
        <p>
            Une fois l'évaluation terminée, depuis le menu  
            <a href="{{ url_for('teacher') }}">
                Professeur,
            </a>
            choisissez "Liste des QCMs"
            
            et vous verrez la liste des QCMs disponibles. 
        </p>
        <p>
            De là, vous pouvez consulter les travaux des élèves et visualiser leurs réponses.
            Vous pouvez aussi simplement consulter les scores obtenus : 1 bonne réponse = 1 point, pas de barème encore...

        </p>
        <p>
            L'enseignant peut exporter les scores et les réponses au format csv.

            Le csv rendu est un peu lourd, en effet il contient les réponses à toutes les questions. Les tableurs l'ouvrent sans difficulté.
            Les deux premières colonnes contiennent le nom et le score, si c'est tout ce dont vous avez besoin.

        </p>
        <p>
            Attention, tous les QCM sont effacés ainsi que les comptes élèves 
            et leurs notes après 48h. 
            Pensez à récupérer vos résultats avant.
        </p>
    </div>

    <h2>
        Format de fichiers QCM
    </h2>

    <div class="question-answers">
        <p>
            Vous pouvez consulter un 

            <a href={{ url_for('static', filename='markdown/exemple.md') }}>
                exemple ici.
            </a>

            Pour résumer :
        </p>
        <p>
            Du markdown
        </p>
        <p>
            Les titres des parties sont précédés de <code>##</code>
        </p>
        <p>
            Les questions sont de deux natures : choix multiple ou zone de texte. 
            Elles sont précédées de <code>###</code>
        </p>
        <p>
            Pour les questions à choix multiple :
            Les propositions sont précédées de <code>- [ ]</code> pour les mauvaises réponses   
            et <code>- [x] </code> pour les bonnes réponses.
        </p>
        <p>
            Une ou plusieurs bonnes réponses par question. Mais le candidat ne peut choisir qu'une réponse.
        </p>
        <p>
            Pour les questions avec une zone de texte, il faut 
            <span class="bold">une seule ligne après la question</span> au format
            <code>- [t]</code>
        </p>
        <p>
            Des images peuvent être incluses, <span class="bold">mais elles doivent être hébergées en ligne.</span>
        </p>
        <p>
            Vous pouvez inclure du code, ou du LaTeX,
            ainsi que vous pouvez le voir dans l'exemple.
        </p>
        <p>
        Par exemple :
        <p>
            <code>$\int_1^2x dx = \frac{3}{2}$</code> est rendu en LaTeX : <span class="answer">$\int_1^2x dx = \frac{3}{2}$</span> 
        </p>
        <p>
            <code>`1 + 2 == 3`</code> est présenté comme du code : <code>1 + 2 == 3</code>.
        </p>
        <p>
            Le parser est assez rudimentaire, vous devez respecter scrupuleusement le format.
            Partez de 
            <a href={{ url_for('static', filename='markdown/exemple.md') }}>
                l'exemple ici.
            </a>
    </div>
    <h2>
        Qui a crée ce site ?
    </h2>
    <div class="question-answers">
        <p>
            Je suis enseignant. Ici 
            <a href="https://qkzk.xyz">
                mes cours
            </a> 
            et là 
            <a href="https://github.com/qkzk">
              mes dépôts publics.
            </a>
        </p>
    </div>
    <h2>
        Est-ce open-source ?
    </h2>
    <div class="question-answers">
        <p>
            Oui,
            <a href="https://github.com/qkzk/qcm_alchemy">
                c'est sur Github.
            </a>
        </p>
        <p>
            Sous-licence ? oui... Et ? Vous pouvez utiliser le produit dans vos classes ou avec vos élèves/étudiants à distance. Vous ne pouvez pas en faire un usage commercial.
        </p>
        <p>
            C'est moche ! Oui.
        </p>
        <p>
            Ça buggue ! Oui, sûrement. Ouvrez une issue 
            <a href="https://github.qkzk/qcm_alchemy">
                sur le dépôt
            </a>
            et décrivez le problème.
        </p>
        <p>
            Je trouve ça formidable blablabla...
            Vous pouvez m’envoyer des bitcoins à cette adresse : 
        </p>
        <p class="bold">
            1Dzd4GqasicwsVoyBhHayZTCYQ8HnVdiSd
        </p>
        <p>
            Ou si vous préférez Ethereum : 
        </p>
        </p>
        <p class="bold">
            0xa6288d3cc9bB4FFFB5637f04b54b902916446D75
        </p>
    </div>
    <h2>
        C'est quoi le projet ?
    </h2>
    <div class="question-answers">
        <p>
            Me simplifier la vie, je n'aime pas les copies.
        <p>
        <p>
            <span class="bold">Je compte ajouter :</span>
        </p>
        <p>
            Export d'un QCM au format .pdf, randomisé, avec un nombre de sujets variable.
            On imprime un seul document et on distribue directement. Utile si les élèves n'ont pas
            de poste.
        </p>
        <p>
            Effacement des comptes inactifs après x semaines.
        </p>
        <p>
            Améliorer le rendu, l'ui et tout l'aspect graphique. C'est loin d'être mon point fort,
            si quelqu'un a le courage...
        </p>
        <p>
            <span class="bold">D'où vient l'idée ?</span>
        </p>
        <p>
            Google form + google classroom pour l'aspect échange facile de documents,
            récupération des notes en CSV, panneau avec les notes. 
            Mais pas de code, pas de latex peu de formattage, impossible de créer depuis un fichier
            texte.
        </p>
        <p>
            Tous les sites de QCM/Form/Quizz qui ont beaucoup d'atouts mais
            présentent tous un défaut majeur :
        </p>
        <p>

            Pas d'export en .pdf ou pas de possibilité de rendre du LaTeX / code
            ou pas de possibilité de créer depuis un fichier source...
        </p>
        <p>
            Ceux de pronote sont quasi parfaits mais : 
            pas de code, pas de latex, pas de création depuis un fichier.
        </p>
        <p>
            Ceux de 
            <a href="https://doctools.dgpad.net/">
                doctools
            </a>
            sont bien plus riches mais ne permettent pas de créer depuis un fichier.
        </p>
        <p>
            En LaTex il existe des outils qui font sensiblement la même chose, je n'ai jamais
            vraiment creusé mais vous pouvez chercher <span class="bold">automultiplechoice</span>.
    </div>

</div>
{% endblock %}
