{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="part">
<style>
a, 
.bold {
    font-weight: bold;
}
p {
    padding-left: 3rem;
    text-align: left;
}
</style>
    <h1>
        Comment utiliser ce site ?
    </h1>
    <h2>
        Pour l'élève
    </h2>
    <div class="question-answers">

        <p>Depuis 
            <a href="{{ url_for('index') }}">
                l'accueil
            </a>
        choisir le lien 
            <a href="{{ url_for('student') }}">
                Élève.
            </a>
        Saisir vos nom et prénom ainsi que le numéro du QCM transmis par votre enseignant.
        </p>
        <p>

        Ensuite sélectionnez les bonnes réponses et n'oubliez pas de cliquer sur le bouton
        <span class="bold">Envoyer</span>.
        </p>

    </div>
    <h2>
        Mode anti-triche
    </h2>
    <div class="question-answers">

        <p>Afin de rendre l'évaluation un peu plus sérieuse, vous ne pouvez pas quitter
        la fenêtre. Dès que vous ouvrez un nouvel onglet ou quittez la fenêtre, vos réponses
        sont enregistrées et vous ne pouvez plus progresser.
        </p>
    </div>
    <h2>
        Pour l'enseignant
    </h2>
    <div class="question-answers">


        <p>Depuis 
            <a href="{{ url_for('index') }}">
                l'accueil
            </a>
        choisir le lien 
            <a href="{{ url_for('teacher') }}">
                Professeur.
            </a>
            Là vous pouvez choisir d'envoyer un nouveau QCM ou consulter les résultats
            des précédents QCM.

            Sélectionnez un fichier compatible au format .md - voir plus bas - et, une fois uploadé,
            transmettez son numéro à vos élèves.

            Ils en auront besoin pour débuter le QCM. Si vous avez perdu ce numéro, vous
            pouvez consulter la liste des QCM disponibles depuis le menu enseignant.

        </p>
        <p>
            Attention, tous les QCM sont effacés ainsi que les comptes élèves 
            et leurs notes après 48h. 
            Pensez à récupérer vos résultats avant.
        </p>
    </div>

    <h2>
        Format de fichiers QCM
    </h2>

    <div class="question-answers">
        <p>
            Vous pouvez consulter un 

            <a href={{ url_for('static', filename='markdown/exemple.md') }}>
                exemple ici.
            </a>

            Pour résumer :
        </p>
        <p>
            Du markdown
        </p>
        <p>
            Les titres des parties sont précédés de <code>##</code>
        </p>
        <p>
            Les questions sont précédées de <code>###</code>
        </p>
        <p>
            Les propositions sont précédées de <code>- [ ]</code> pour les mauvaises réponses
            et <code>- [x] </code> pour les bonnes réponses.
        </p>
        <p>
            Une ou plusieurs bonnes réponses par question.
        </p>
        <p>
            Des images peuvent être incluses, mais elles doivent être hébergées en ligne.
        </p>
        <p>
            Vous pouvez inclure du code, ou du LaTeX,
            ainsi que vous pouvez le voir dans l'exemple.
        </p>
        <p>
            Le parser est assez rudimentaire, vous devez respecter scrupuleusement le format.
            Partez de 
            <a href={{ url_for('static', filename='markdown/exemple.md') }}>
                l'exemple ici.
            </a>
    </div>
    <h2>
        Qui a crée ce site ?
    </h2>
    <div class="question-answers">
        <p>
            Je suis enseignant. Ici 
            <a href="https://qkzk.xyz">
                mes cours
            </a> 
            et là 
            <a href="https://github.com/qkzk">
              mes dépôts publics.
            </a>
        </p>
    </div>
    <h2>
        Est-ce open-source ?
    </h2>
    <div class="question-answers">
        <p>
            Pas encore, cette version pre-alpha n'est pas assez propre. Ça devrait
            le devenir si je trouve le temps.
        </p>
        <p>
            C'est moche ! Oui.
        </p>
        <p>
            Ça buggue ! Oui, sûrement. Ouvrez une issue sur n'importe lequel de mes
            <a href="https://github.qkzk">
                dépôts publics
            </a> en attendant d'avoir un espace dédié.
        </p>
        <p>
            Je trouve ça formidable blablabla ! Vous pouvez m’envoyer des bitcoins à cette adresse : 1Dzd4GqasicwsVoyBhHayZTCYQ8HnVdiSd

            Ou si vous préférez Ethereum : 0xa6288d3cc9bB4FFFB5637f04b54b902916446D75
        </p>
        
    </div>

</div>
{% endblock %}
