{% extends 'base.html' %}
{% block head %}
{{ super() }}
<title>New</title>
{% endblock %}

{% block content %}
<div class="part">
    <div style="text-align: center;">
        <button>
            <a href="{{ url_for('teacher') }}">
                Revenir à vos QCMs
            </a>
        </button>
    </div>
</div>
<div class="part" id="qcm-card">
    <div class="text-center question-answers">
        <h2 class="not-visible" id="qcm-url">
            <img src="{{ qrcode(url_for('student', _external=True, _scheme='https'), border=2) }}"}>
            {{ url_for("index", _external=True, _scheme='https') }}
            <div class="spacediv"></div>
            QCM Numéro :
        </h2>
        <h3 id="teacher-consign">
            Cliquez pour projeter le numéro aux élèves
        </h3>
        <h1 class="big-text" id="qcm-id-title">
            {{ qcm.id }}
        </h1>
    </div>
</div>
<div class="part" id="qcm-view-menu">
    {% include('view_menu.html', qcm) %}
</div>
<div class="part" id="qcm-marks">
    {% include('marks.html', qcm) %}
</div>
<div class="part" id="qcm-chart">
    {% include('chart.html', qcm) %}
</div>
<script src="{{ url_for('static', filename='javascript/id_qcm_popup.js') }}">
</script>
<script src='{{ url_for('static', filename='javascript/load_mark_chart_setting.js') }}'>
</script>
{% endblock %}
