body {
  --main-bg-color: #eaeaea;
  --main-button-color: black;
  --main-border-color: black;
  --main-chosen-color: #ffa500;
  --main-number-color: #232323;
  --main-text-color: #656565;
  --main-pre-color: black;
  --main-selected-right: #bbffcc;
  --main-selected-wrong: #ffbbcc;
  --main-not-selected-but-right: #ffa500;
  background-image: url("../img/texture_white.png");
}

body.dark-theme {
  --main-bg-color: #1a1a1a;
  --main-button-color: white;
  --main-border-color: white;
  --main-chosen-color: #ffa500;
  --main-number-color: #dedede;
  --main-text-color: #bcbcbc;
  --main-pre-color: white;
  --main-selected-right: #228833;
  --main-selected-wrong: #882233;
  --main-not-selected-but-right: #886611;
  background-image: url("../img/texture.png");
}

body {
  height: 100%;
  background-size: 64px 96px;
  background-position: center;
  font-family: sans-serif;
}

.part,
.form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 70%;
  min-width: 40%;
}

@media only screen and (max-width: 600px) {
  .part,
  .form {
    max-width: 90%;
    min-width: 90%;
    margin-right: 10px;
    border-radius: 10px;
  }
}

#banner {
  width: 100%;
  height: 10vh;
  position: fixed;
  background-color: var(--main-bg-color);
  margin: 0px;
  top: 0px;
  left: 0px;
  z-index: 100;
}

#content {
  width: 100%;
  margin-top: 12vh;
}

@media only screen and (max-width: 600px) {
  #banner {
    position: absolute;
  }

  #content {
    margin-top: 12vh;
  }
}

.form {
  height: 400px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
p,
.redirect,
a,
.admin-link,
.errors,
.logout {
  text-align: center;
  color: var(--main-text-color);
}

ol,
ul {
  text-align: left;
  color: var(--main-text-color);
}

.error,
.white,
label {
  color: var(--main-text-color);
}

td {
  text-align: left;
}

.question-answers {
  text-align: center;
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 25px;
  border: 3px solid var(--main-text-color);
  background-color: var(--main-bg-color);
}

.no-border {
  border: none;
}

.transparent-background {
  background-color: rgba(0, 0, 0, 0);
}

.codehilite {
  margin: 0 auto;
  /* color: var(--main-text-color); */
  text-align: left;
}

.answers {
  display: table;
  text-align: left;
  margin: 0 auto;
  padding: 10px;
  color: var(--main-text-color);
}

pre {
  font-size: min(max(1.2vw, 16px), 20px);
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  color: var(--main-pre-color);
}

@media only screen and (max-width: 600px) {
  .codehilite pre {
    margin-left: 1rem;
  }
}

textarea {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

.selected-wrong {
  background-color: var(--main-selected-wrong); /* red */
}
.selected-right {
  background-color: var(--main-selected-right); /* green */
}
.not-selected-but-right {
  background-color: var(--main-not-selected-but-right);
}

.bold {
  font-weight: bold;
}

label,
select,
option {
  color: var(--main-text-color);
  margin: 15px;
  font-weight: 14px;
}

.btn {
  text-align: center;
  margin: 30px;
}

input[type="submit"],
button {
  color: var(--main-button-color);
  background-color: var(--main-bg-color);
  font-size: 18px;
  padding: 5px;
}

input[type="submit"]:hover,
button:hover {
  color: var(--main-text-color);
  cursor: pointer;
  text-decoration: underline;
}

button.a {
  color: var(--main-button-color);
}

img {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  max-height: 800px;
  width: auto;
  height: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  border: 1px solid var(--main-border-color);
  border-collapse: collapse;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th,
td {
  color: var(--main-text-color);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

div.text-center,
th.text-center,
td.text-center {
  text-align: center;
}

.colored-background {
  background-color: var(--main-bg-color);
}

.form-container {
  display: block;
  text-align: center;
  padding-top: 2rem;
}

.form-container input,
.margin-bottom {
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="number"] {
  background-color: var(--main-bg-color);
  color: var(--main-number-color);
  font-size: 24px;
  height: 40px;
}

.answer {
  margin-bottom: 10px;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -4px;
  position: relative;
  background-color: var(--main-text-color);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid var(--main-border-color);
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -4px;
  position: relative;
  background-color: var(--main-chosen-color);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid var(--main-border-color);
}

.answer {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: var(--main-bg-color);
}

input[type="radio"]:checked ~ label {
  color: black;
}

.spacediv {
  height: 0.5em;
}

.full-height {
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
}

footer {
  position: absolute;
  bottom: 0; /* on le colle en bas */
  min-width: 99%;
  max-width: 100%;
  margin: 0px;
  height: 40px; /* Hauteur du pied de page */
  text-align: center;
  padding-top: 10px;
  justify-content: center;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.pre-error {
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.big-text {
  font-size: 3rem;
}

.enormous-text {
  font-size: 10rem;
  margin: 0;
}

.blur {
  filter: blur(10px);
}

.not-blured {
  filter: blur(0);
}

.not-visible {
  visibility: hidden;
  height: 0;
}

.big-table {
  overflow: hidden;
  overflow-x: auto;
  clear: both;
  width: 100%;
}

.wsh-table {
  min-width: rem-calc(640);
}

.div_pie_chart {
  width: 600px;
  height: 600px;
}
