body {
  height: 100%;
  background-image: url("../img/texture.png");
  background-size: 64px 96px;
  background-position: center;
  font-family: sans-serif;
}

.part,
.form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 70%;
  min-width: 40%;
}

@media only screen and (max-width: 600px) {
  .part,
  .form {
    max-width: 90%;
    min-width: 90%;
    margin-right: 10px;
    border-radius: 10px;
  }
}

#banner {
  width: 100%;
  height: 10vh;
  position: fixed;
  background-color: #1a1a1a;
  margin: 0px;
  top: 0px;
  left: 0px;
  z-index: 100;
}

#content {
  width: 100%;
  margin-top: 12vh;
}

@media only screen and (max-width: 600px) {
  #banner {
    position: absolute;
  }

  #content {
    margin-top: 12vh;
  }
}

.form {
  height: 400px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
p,
.redirect,
a,
.logout,
.admin-link {
  text-align: center;
  color: #bcbcbc;
}

.error,
.white,
label {
  color: #bcbcbc;
}

td {
  text-align: left;
}

.form-questions {
}

.question-question {
}

.question-answers {
  text-align: center;
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 25px;
  border: 3px solid #bcbcbc;
  background-color: #1a1a1a;
}

.codehilite {
  margin: 0 auto;
  color: #bcbcbc;
  text-align: left;
}

.answers {
  display: table;
  text-align: left;
  margin: 0 auto;
  padding: 10px;
  color: #bcbcbc;
}

pre {
  font-size: max(1.5vw, 16px);
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  color: white;
}

label,
select,
option {
  color: #bcbcbc;
  margin: 15px;
  font-weight: 14px;
}

.btn {
  text-align: center;
  margin: 30px;
}

button {
  color: #fff;
  background-color: #1a1a1a;
  font-size: 18px;
  padding: 5px;
}

img {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  max-height: 800px;
  width: auto;
  height: auto;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

th,
td {
  color: #bcbcbc;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

div.text-center,
th.text-center,
td.text-center {
  text-align: center;
}

.form-container {
  display: block;
  text-align: center;
  padding-top: 2rem;
}

.form-container input,
.margin-bottom {
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
  background-color: #1a1a1a;
  color: #dedede;
  font-size: 24px;
  height: 40px;
}

.answer {
  margin-bottom: 10px;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -4px;
  position: relative;
  background-color: #bcbcbc;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -4px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}

.answer {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  background-color: #1a1a1a;
}

input[type="radio"]:checked ~ label {
  color: #1a1a1a;
}

.spacediv {
  height: 0.5em;
}
