body {
  height: 100%;
  background-image: url("../img/texture.png");
  background-size: 64px 96px;
  background-postion: center;
  font-family: sans-serif;
}

.part,
.form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  width: 80%;
  border: 3px solid #bcbcbc;
  padding: 10px;
  background-color: #1a1a1a;
  border-radius: 25px;
}

.form {
  height: 400px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
p .form-questions,
.redirect,
a,
.logout,
.admin-link {
  text-align: center;
  color: #bcbcbc;
}

.error,
.white,
label {
  color: #bcbcbc;
}

td {
  text-align: left;
}

.form-questions {
}

.question-answers {
  margin: 0 auto;
  text-align: center;
}

.codehilite {
  margin: 0 auto;
  color: #bcbcbc;
  text-align: left;
}

.answers {
  display: table;
  text-align: left;
  margin: 0 auto;
  padding: 10px;
  color: #bcbcbc;
}

pre {
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

label,
select,
option {
  color: #bcbcbc;
  background-color: #1a1a1a;
  margin: 15px;
  font-weight: 14px;
}

.btn {
  text-align: center;
  margin: 30px;
}

button {
  color: #fff;
  background-color: #1a1a1a;
  font-size: 18px;
  padding: 5px;
}

img {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  max-height: 800px;
  width: auto;
  height: auto;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

th,
td {
  color: #bcbcbc;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

div.text-center,
th.text-center,
td.text-center {
  text-align: center;
}

.form-container {
  /* margin: 30% auto; */
  display: block;
  /* width: 500px; */
  text-align: center;
  padding-top: 2rem;
}

.form-container input,
.margin-bottom {
  margin-bottom: 10px;
}
